@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 16px;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.navbar {
  display: flex;
  padding : 16px;
  gap:32px;
  align-items: center;
  flex-direction: row;
}

.nav__link {
  /* Link/Bold */
  

font-weight: 700;
font-size: 16px;
line-height: 3px;
/* identical to box height, or 144% */

display: flex;
align-items: center;
text-decoration-line: underline;

/* Black */

color: #2B2828;
}

.logo {
  /* Heading/6/Bold */
  width: 89px;
height: 28px;

font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */

display: flex;
align-items: center;

/* Black */

color: #2B2828;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/Inter-VariableFont_slnt.wght.ttf') format('truetype');
}

.welcome {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding-left: 16px;
padding-top: 46px;
gap: 0px;

width: 1140px;
height: 244px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
}

._wt {
  
  /* Heading/6/Regular */
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
padding-top : 32px;
  /* identical to box height, or 117% */
  
  display: flex;
  align-items: center;
  
  /* Black */
  
  color: #2B2828;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

._wb {

/* Heading/4/Bold */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 50px;
padding-bottom : 32px;
/* or 119% */

display: flex;
align-items: center;

/* Black */

color: #2B2828;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.bgbut {
  /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 26px;
gap: 12px;

width: 192px;
height: 46px;

/* Black */

background: #2B2828;
/* BasicShadow */

box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.but {
  width: 104px;
height: 26px;

/* Paragraph/Normal/Paragraph Bold */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

display: flex;
align-items: center;

/* White */

color: #FFFFFF;
}

.Cards {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
padding-top: 100px;
padding-bottom: 100px;

gap: 36px;



/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}



.cardimage {

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
padding : 160px;
}

.card {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

width: 267px;
height: 236px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.cardText {
  width: 267px;
height: 52px;

/* Paragraph/Normal/Paragraph Bold */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
/* or 162% */


/* Black */

color: #2B2828;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.devider {
  width: 1140px;
height: 2px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.line {
height: 0px;
left: 0px;
right: 0px;
/* Black */
background : #2B2828;

border: 2px solid #2B2828;
}

.footer {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 120px;
gap: 36px;

width: 1140px;
height: 273px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.ender {
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 1140px;
height: 56px;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.enderH {
  width: 932px;
height: 56px;

/* Heading/6/Bold */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* or 117% */

display: flex;
align-items: center;

/* Black */

color: #2B2828;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}