<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/simple.css">
    <title>THD Electronics</title>
</head>
<body>
    <h2>THD Electronics</h2>
    <div class="link-ease-in-out">
        <a name="heading" href="/" title="Lorem Ipsum">1. ССылка на файл</a>
    </div>    
    <div class="link-ease-in-out">
        <a href="http://google.com" title="Lorem Ipsum">2. ССылка на сайт</a>
    </div> 
    <a href="/">
        <figure>
        <img alt="This is a black swan" src="/images/THD.png" />
        <figcaption>thd logo</figcaption>
      </figure></a>
    <p>THD Electronics, Ltd. is a manufacturer of amplifier accessories, and a former manufacturer of vacuum-tube guitar amplifiers. It is located in Seattle, Washington. It was founded in 1986 by President and CEO Andrew Marshall. At one time specializing in hand-built, vacuum tube “boutique”-style amplifiers, it continues to manufacture the “world’s best selling [guitar amplifier] power attenuator,”[1] the THD Hot Plate. The company is well known in the boutique amplifier market, and is often credited with the creation of this market in the United States.[2][3] THD's line of products stayed relatively small despite its 22-year history as a company. Of its amplifiers, THD made three: the UniValve, BiValve-30, and Flexi-50.</p>
    <section>
        <p>Copyright issues prevented Marshall from naming THD Electronics after himself, as Marshall Amplification had been established in the 1960s. Marshall also decided against naming the company after his first name because, in his words, “Who…is going to spend $2,500 on an ‘Andy Amp?’"[4] Instead he chose THD, the acronym for “Total harmonic distortion”.

            '(Total harmonic distortion) is one of the ways that amplifiers are rated,' says Marshall. 'And in the hi-fi world, where people are quite conscious of total harmonic distortion, everybody goes for the lowest possible amount of distortion. In the guitar amp world, people tend to go for the most. So it was slightly tongue-in-cheek, but more of an inside joke.'[4]
            
            Marshall has said that THD alternatively means “Two Hairy Dogs”, referring to his bearded collies, Truffles and Tobler[5] and with the addition of a third dog, Piper, “Three Hairy Dogs”.[4]</p>
    </section>
    <div class="link-ease-in-out">
        <a href="#heading" title="Lorem Ipsum">Вверх</a>
    </div> 
</body>`
</html>