BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ColumnLimit: 140
AccessModifierOffset: -4
SortIncludes: CaseSensitive
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: False
AlignAfterOpenBracket: DontAlign
BinPackArguments: false
BinPackParameters: false